  <nav class="navbar navbar-light <%= 'bg-light' unless @naked_navbar %> <%= 'naked-navbar' if @naked_navbar %>" id="navbar">
    <div>
      <div class="container">
       <i class="fas fa-skiing text-primary h1"></i>
       <%= link_to "AU COIN DU SKI", root_path, class:"text-decoration-none text-primary font-weight-bolder pages-link ml-4" %>
        <div class="ml-3">
          <%= link_to "CONCEPT", pages_concept_path, class:"text-decoration-none text-reset pages-link"  %>
        </div>
      </div>
    </div>
    <div>
      <div class="container">
        <%= link_to "AJOUTER UNE ANNONCE", new_product_path, class: "btn btn-secondary" %>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <div>
          <% if user_signed_in? %>
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle" , data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false, labelledby: "navbarDropdown" }, default_image: "anonymousprofile.png" %>
              <% else %>
                <%= image_tag 'anonymousprofile.png', class: "avatar dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false, labelledby: "navbarDropdown" } %>
              <% end %>
            <div class="dropdown-menu dropdown-menu-right mr-3" aria-labelledby="navbarDropdown">
              <%= link_to "Mon Compte", edit_user_registration_path, class: "dropdown-item py-2" %>
              <%= link_to "Mes Produits", pages_my_products_path, class: "dropdown-item py-2" %>
              <%= link_to "Mes Réservations", pages_my_bookings_path, class: "dropdown-item py-2" %>
              <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item py-2" %>
            </div>
            </div>
          <% else %>
            <div>
              <%= link_to "SE CONNECTER", new_user_session_path, class:"text-decoration-none btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
