<div class="container">
  <h1 class="p-2 pb-4">Les réservations sur mes produits</h1>
    <% current_user.products.each do |product| %>
     <% bookings_product = product.bookings.sort_by { |booking| booking.start_date } %>
    	<% bookings_product.each do |booking|  %>
		    <div class="card-trip">
	          <div class="d-flex justify-content-between">
	            <%= cl_image_tag booking.product.photos[0].key, size: "200x200" %>
	            <div class="bookings-info p-2 ml-3 flex-grow-1">
	              <div>
	                <p>Statut : <%= booking.status %></p>
			        <p>Début de location : <%= booking.start_date %></p>
			        <p>Fin de location : <%= booking.end_date %></p>
			        <p>Montant dû par l'utilisateur: <%= (booking.product.price * (booking.end_date - booking.start_date)).to_i%>€</p>
			      </div>
			    </div>
			    <div>
			      <div class="card-trip-bookings-container mt-1" style="max-width: 250px; padding:0; margin: 0">
			      	<p> Utilisateur </p>
                    <p> <small> <%= product.user.first_name  %> </small></p>
                    <% if product.user.avatar.attached? %>
                      <%= cl_image_tag product.user.avatar.key, class: 'avatar-large',alt: product.user.first_name %>
                    <% else %>
                      <%= image_tag 'anonymousprofile.png', class: "avatar-large" %>
                    <%end%>
                    <div>
	                  <a href="mailto:<%= booking.product.user.email %>"><%= booking.product.user.email %></a>
	                  <% if booking.product.user.cell_phone %>
	                    <p><%=booking.product.user.cell_phone%></p>
	                  <% end %>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	 	<% end %>
    <% end %>
</div>



