
<div class="banner" style="background-image: url('<%= image_path 'sebastian-staines-xZIFEPtRsRI-unsplash.jpg' %>');">
  <div class = "container">
    <div class="banner-content"><h2> Louez votre matériel de ski à d'autres particuliers! </h2> </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% Product.all.each do |product| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%= product.name %></h2>
            <p><%= product.price %> €</p>
          </div>
          <%= link_to "", product_path(product), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

 -->
<%= link_to "sign up", new_user_registration_path  %>
<%= link_to "sign in", new_user_session_path  %>
<%= link_to "log out", destroy_user_session_path, method: :delete %>
