<div class="banner" id="banner" style="background-image: url('<%= image_path 'sebastian-staines-xZIFEPtRsRI-unsplash.jpg' %>');">
  <div class ="container">
    <div class="banner-content">
      <h2> Louez votre matériel de ski à d'autres particuliers! </h2>
      <%= form_tag products_path, method: :get, class: "form-group form-inline" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Skis, chaussures, ..."
        %>
        <%= text_field_tag :start_date,
          params[:star_date],
          class: "form-control",
          id: "start_date",
          placeholder: "Date de début"
        %>
        <%= text_field_tag :end_date,
          params[:end_date],
          class: "form-control",
          id: "end_date",
          placeholder: "Date de fin"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-end mt-2" id="products-selector">
    <p>Catégorie: </p>
    <%= simple_form_for Product.new do |p| %>
      <%= p.select :category,
        collection: Product::CATEGORIES,
        prompt:'Catégorie'
      %>
    <% end %>
  </div>
  <div class="row">
    <% Product.all.each do |product| %>
    <div class="col-12 col-md-6 col-lg-4">
      <%= render 'shared/card', product: product %>
    </div>
    <% end %>
  </div>
</div>
