<div class="banner" id="banner" style="background-image: url('<%= image_path 'sebastian-staines-xZIFEPtRsRI-unsplash.jpg' %>');">
  <div class ="container">
    <div class="banner-content">
      <h2> Louez votre matériel de ski à d'autres particuliers! </h2>
    </div>
    <%= link_to "Voir les annonces !", products_path, class: "btn btn-primary px-3 banner-btn" %>
  </div>
</div>

<div class="container">
  <h4 class="mt-5 mb-0"> <strong> <%= Product.all.count %> annonces </strong></h4>
  <div class="row">
    <% Product.all.each do |product| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-product">
          <%= cl_image_tag product.photos[0].key %>
            <span class="badge badge-primary badge-category"><%= product.category %></span>
            <div class="card-product-infos">
              <div>
                <h2><%= product.name %></h2>
                  <div class="d-flex">
                    <p><%= product.address %></p>
                    <i class="fas fa-map-marker-alt ml-1"></i>
                  </div>
              </div>
              <h2 class="card-product-pricing"><%= product.price%>€ /jour</h2>
              <% if product.user.avatar.attached? %>
                <%= cl_image_tag product.user.avatar.key, class: "card-product-user avatar-bordered" %>
              <% else %>
                <%= image_tag 'anonymousprofile.png', class: "card-product-user avatar-bordered" %>
                
              <% end %>
              
            </div>
           <%= link_to "", product_path(product), class: 'card-link' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

