<div class="banner" style="background-image: url('<%= image_path 'sebastian-staines-xZIFEPtRsRI-unsplash.jpg' %>');">
  <div class ="container">
    <div class="banner-content">
      <h2> Louez votre matériel de ski à d'autres particuliers! </h2>
    </div>
    <%= link_to "Voir les annonces !", products_path, class: "btn btn-primary px-3 banner-btn" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% Product.all.each do |product| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%= product.name %></h2>
            <p><%= product.price %> €</p>
          </div>
          <%= link_to "", product_path(product), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
