<div class="container">
  <h1 class="p-2 pb-4">Mes réservations</h1>

  <p> <%= @my_bookings.count %> réservations trouvée(s)</p>
  <% @my_bookings.each do |booking| %>
    <div class="card-trip">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <%= cl_image_tag booking.product.photos[0].key, size: "200x200" %>
          <div class="bookings-info p-2 ml-3">
            <div class="d-flex justify-content-start">
              <p class="mb-0 align-self-center badge <%= 'badge-primary' if booking.status == "En Attente" %> <%= 'badge-success' if booking.status == "Confirmée" %>" id="statut-<%= booking.id %>">
                   Statut : <span id="booking-status-<%= booking.id %>"><%= booking.status %></span>
              </p>
              <% if booking.status == "En Attente" %>
                <%= link_to confirm_booking_path(booking), id: "confirm-#{booking.id}",
                      remote: true,
                      class: "ml-3 text-primary" do %>
                  <i class="fas fa-check"></i>
                <% end %>
                <%= link_to booking_path(booking), id: "cancel-#{booking.id}",
                            remote: true,
                            class: "ml-3 text-primary",
                            method: :delete,
                            data: { confirm: "Êtes-vous sûr?" } do %>
                  <i class="fas fa-times"></i>
                <% end %>
              <% end %>
            </div>
            <div>
              <h2><%= booking.product.name.capitalize %></h2>
              <div class="d-flex">
                <p><%= booking.product.address %></p>
                <i class="fas fa-map-marker-alt ml-1"></i>
              </div>
              <div>
                <%= booking.start_date %>
                <i class="fas fa-arrow-alt-circle-right"></i>
                <%= booking.end_date %>
              </div>
            </div>
          </div>
        </div>
        <div class="booking-dollar-user">
          <div class="card-trip-pricing">
            <p><%= (booking.product.price * (booking.end_date - booking.start_date)).to_i%> €</p>
          </div>
          <div>
            <a href="mailto:<%= booking.product.user.email %>">
              <div class="d-flex button-booking"><p class="pt-1">Contacter : </p> <i class="fas fa-envelope ml-1 h2"></i></div></a>
            <% if booking.product.user.cell_phone %>
              <p><%=booking.product.user.cell_phone%></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
