<h1> Voici la liste de tes produits</h1>

<% @my_products.each do |product| %>
  <h1><%= product.name %></h1>
  <div>
    <p>Catégorie  <%= product.category %></p>
    <p>Description du produit  <%= product.description %></p>
    <p>Prix par jour  <%= product.price %></p>
    <p>Adresse de dispo du produit  <%= product.address %></p>
    <%= link_to 'supprimer ce produit', product_path(product), method: :delete %>
  </div>
<% end %>
