<div class="container">
	<h1 class="p-2 pb-4">Mes produits</h1>
	
	<% @my_products.each do |product| %>
		  <div class="card-trip">
		  	<div class="d-flex">
		    	<%= cl_image_tag product.photos[0].key, size: "200x200"%>
			    <div class="card-trip-info">
			    	<h2><%= product.name.capitalize %></h2>
			    	<p><%= product.description %></p>
    	    	<div class="d-flex justify-content-between pt-4 pr-1 pl-1">
    	    		<% if product.bookings.count > 0 %>
    	    			<%= link_to "#{product.bookings.count} réservations", pages_bookings_on_my_products_path, class: "p-3" %>
    	    		<% else %>
    	    			<p style="font-size: 12px" class="p-3">Aucunes réservations en cours.</p>
    	    		<% end %>
    	    		<div>
	    		    	<%= link_to product_path(product), method: :delete,  data: { confirm: "Are you sure?" } do %> 
	    		    		<i class="fas fa-trash p-3"></i>
	    		    	<% end %>
	    		    	<%= link_to edit_product_path(product) do %>
	    		    		<i class="fas fa-edit p-3"></i>
	    		    	<% end %>
    		    	</div>
    		    </div>
			    </div>
		    </div>
		  </div>
	<% end %>
</div>