<div class="container">
	<h1 class="p-2 pb-4">Mes produits</h1>
	
	<% @my_products.each do |product| %>
		  <div class="card-trip">
		  	<div class="d-flex">
		    	<%= cl_image_tag product.photos[0].key, size: "200x200"%>
			    <div class="card-trip-info">
			    	<h2><%= product.name %></h2>
			    	<p><%= product.description %></p>
			    </div>
			    <div class="card-trip-bookings">
			    	<% if product.bookings.size > 0 %>
			    		<p><strong><%= product.bookings.size %> Bookings</strong></p>
			    		<% bookings_product = product.bookings.sort_by { |booking| booking.start_date } %>
				    	<% bookings_product.each do |booking| %>
					    	<div class="booking-item">
					    	  <%= booking.start_date %>
					    	  <i class="fas fa-arrow-alt-circle-right"></i>
					    	  <%= booking.end_date %>
					    	</div>
				    	<% end %>
				    <% else %>
				    	<div class="booking-item pt-5 mt-2">
				    		<p>There is no booking for this product at this time.</p>
				    	</div>
				    <% end %>
			    </div>
		    </div>
		  </div>
	<% end %>
</div>