<div class="banner-small" style="background-image: url('<%= image_path 'sebastian-staines-xZIFEPtRsRI-unsplash.jpg' %>');">
  <div class ="container">
    <div class="banner-content">
      <h2> Votre recherche </h2>
    </div>
  </div>
</div>

<div class="container">
  <% if @products.count > 0 %>
    <div id="products-selector" class="d-flex justify-content-between mt-2">
      <p id="product-count"><%= @products.count%> annonces trouvées</p>
      <div class="d-flex justify-content-end">
        <p>Filtrer par:</p>
        <%= form_for @products.first do |p| %>
          <%= p.select :category,
            collection: Product::CATEGORIES,
            label: 'Catégorie',
            class: "custom-select"
          %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-12 col-md-6 col-lg-4">
      <%= render 'shared/card', product: product %>
    </div>
    <% end %>
  </div>
</div>
