<div class="container">
  <div class="products-display pt-5">
    <div class="product-display-card">
      <div>
        <h2> <%= @product.name %> </h2>
        <p class="badge badge-secondary"> <%= @product.price %> € / jour </p>
        <p class="badge badge-secondary"> <%= @product.category %></p>
      </div>
      <div>
        <p><strong>Description</strong>  <%= @product.description %></p>
        <p><strong>Adresse du produit</strong>  <%= @product.address %></p>
        <%= link_to "Retour aux produits", products_path %>
      </div>
    </div>
    <div class="product-display-card">
      <%= cl_image_tag @product.photos[0].key, alt: "photo" %>
      <%= render 'bookings/form', product: @product, booking: @booking %>
    </div>

  </div>
</div>
